.roomsContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 90%;
}

h2 {
    padding: 0;
    margin: 0;
    width: 70%;
    text-align: left;
}

#noRoom{
    background: -webkit-linear-gradient(left, #c901ff, #0e6bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.textContainer {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.roomContainer {
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 425px;
    background-color: #f5f5f5;
    border: 1px solid #e0dedf;
    border-radius: 3px;
    height: 150px;
}

.roomContainer:hover .roomImg{
    background: url('../PIctures/stationF.jpg') no-repeat;
    background-size: cover;

}

.roomContainer:hover {
    border: 1px solid rgba(255, 21, 144, 0.5);
    background: linear-gradient(to right, white 25%, rgba(196, 1, 252, 0.33), rgba(14, 107, 255, 0.32));
}

.roomImg{
    width: 40%;
    border-radius: 1.5px;
    background: linear-gradient(to top, rgba(255, 228, 246, .30), rgba(255, 255, 255, .70) 95% ),url('../PIctures/stationF.jpg') no-repeat;
    background-size: cover;
}

button {
    align-self: center;
    cursor: pointer;
    width: 100px;
    background-color: black;
    color: white;
    font-family: inherit;
    font-size: 15px;
}

button:hover{
    background-color:  #e02c9e;
}