body {
  background-color: #f5f5f5;
  min-width: 360px;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Condensed', sans-serif;
}

h1 {
  width: 100%;
  font-size: 40px;
  background: -webkit-linear-gradient(left, #ab02df 40%, #1024f8 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
